
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Bienvenu dans notre ProjetQuizz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <link rel="stylesheet" href="~/Content/css/main.css" />
    
    <noscript><link rel="stylesheet" href="~/Content/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Bienvenu</a></li>
                    <li><a href="#one">choisissez Votre quiz</a></li>
                    <li><a href="#two">Qui somme nous</a></li>
                    <li><a href="#three">Contactez nous</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Quiz Dawan</h1>
                <p>
                    Testez vos compétences en programmation<br />
                    <strong>HTML_CSS_JS</strong>
                </p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">lire en plus</a></li>
                </ul>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <a href="#" class="image"><img src="~/Content/css/images/Html.png" alt="" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>HTML</h2>
                        <p>
                            L'HyperText Markup Language, HTML, désigne un type de langage informatique descriptif. Il s'agit plus précisément
                            d'un format de données utilisé dans l'univers d'Internet pour la mise en forme des pages Web. Il permet, entre autres,
                            d'écrire de l'hypertexte, mais aussi d'introduire des ressources multimédias dans un contenu
                        </p>
                        <ul class="actions">
                            <li><a href="generic.html" class="button">Commencez </a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="~/Content/css/images/Css.PNG" alt="" data-position="top center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>CSS</h2>
                        <p>
                            Les feuilles de style en cascade, généralement appelées CSS de l'anglais Cascading Style Sheets,
                            forment un langage informatique qui décrit la présentation des documents HTML et XML.
                            Les standards définissant CSS sont publiés par le World Wide Web Consortium
                        </p>
                        <ul class="actions">
                            <li><a href="generic.html" class="button">Commencez </a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="~/Content/css/images/JS.PNG" alt="" data-position="25% 25%" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>JAVA SCRIPTS </h2>
                        <p>
                            JavaScript est un langage de programmation de scripts principalement employé dans les pages web interactives
                            et à ce titre est une partie essentielle des applications web. Avec les technologies HTML et CSS, JavaScript
                            est parfois considéré comme l'une des technologies cœur du World Wide Web
                        </p>
                        <ul class="actions">
                            <li><a href="generic.html" class="button">Commencez</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2>Qui somme nous</h2>
                <p>Nous sommes un groupe des programmeurs .NET qui ont également de l'expérience en programmation  <span>Full-Stack.</span> </p>
                <div class="features">
                    <section>
                        <span class="icon solid major fa-code"></span>
                        <h3>Front-End</h3>
                        <p>
                            <strong>HTML-CSS-JS</strong> HTML5 est une structure site web ,Css c'est le style de site web, javascript permet de
                            créer du contenu mis à jour de façon dynamique, de contrôler le contenu multimédia
                        </p>
                    </section>
                    <section>
                        <span class="icon solid major fa-lock"></span>
                        <h3>Back-End</h3>
                        <p><strong>C#</strong> est un langage de programmation orientée objet, commercialisé par Microsoft depuis 2002 et destiné à développer sur la plateforme Microsoft .NET. </p>
                    </section>
                    <section>
                        <span class="icon solid major fa-cog"></span>
                        <h3>Base de données</h3>
                        <p>
                            Une base de données permet de stocker et de retrouver des données structurées, semi-structurées ou des données brutes ou de l'information
                            <a href="https://www.microsoft.com/fr-fr/sql-server/sql-server-downloads">(SQL)</a>.
                        </p>
                    </section>
                    <section>
                        <span class="icon solid major fa-desktop"></span>
                        <h3>Gérer dépôt github-gitLab</h3>
                        <p>
                            GitLab est une plate-forme de développement logiciel de bout en bout open source avec contrôle de version intégré, suivi des problèmes,
                            revue de code, CI/CD, etc.
                        </p>
                    </section>
                    <!--<section>
                            <span class="icon solid major fa-link"></span>
                            <h3>Urna quis bibendum</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-gem"></span>
                            <h3>Aliquam urna dapibus</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                    </div>-->
                    <ul class="actions">
                        <li><a href="https://www.dawan.fr/" class="btn-btn">Commencez avec Dawan</a></li>
                    </ul>
                </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style1 fade-up">
            <div class="inner">
                <h2>Contactez nous</h2>

                <div class="split style1">
                    <section>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <label for="name">Nom</label>
                                    <input type="text" name="name" id="name" />
                                </div>
                                <div class="field half">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" />
                                </div>
                                <div class="field">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" rows="5"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><a href="" class="button submit">Envoyer</a></li>
                            </ul>
                        </form>
                    </section>
                    <section>
                        <ul class="contact">
                            <li>
                                <h3>Address</h3>
                                <span>
                                    75015 Paris<br />
                                    11 Rue Antoine Bourdelle<br />
                                    FRANCE
                                </span>
                            </li>
                            <li>
                                <h3>Email</h3>
                                <a href="#">alex.stiphan101@gmail.com</a>
                            </li>
                            <li>
                                <h3>Phone</h3>
                                <span>0105040808</span>
                            </li>
                            <li>
                                <h3>Social</h3>
                                <ul class="icons">

                                    <li><a href="https://twitter.com/dawanfrance" class="fa fa-twitter" aria-hidden="true"><span class="label">Twitter</span></a></li>
                                    <li><a href="https://www.facebook.com/DawanFrance" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                    <li><a href="https://github.com/" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                    <!--<li><a href="" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
                                    <li><a href="https://www.linkedin.com/company/dawan/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li><strong> &copy; Dawan</strong> </li>
               
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/js/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/js/browser.min.js"></script>
    <script src="~/Scripts/js/breakpoints.min.js"></script>
    <script src="~/Scripts/js/util.js"></script>
    <script src="~/Scripts/js/main.js"></script>    
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
   

</body>
</html>
