<!DOCTYPE HTML>

<html>
<head>
    <title>Phantom by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="./Content/css/main.css" />
    <noscript><link rel="stylesheet" href="./Content/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">


                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="generic.html">Ipsum veroeros</a></li>
                <li><a href="generic.html">Tempus etiam</a></li>
                <li><a href="generic.html">Consequat dolor</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>
                        This is Phantom, a free, fully responsive site<br />
                        template designed by <a href="http://html5up.net">HTML5 UP</a>.
                    </h1>
                    <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
                </header>
                @*<div class="col-md-10">
            @Html.DropDownList("QuizId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.QuizId, "", new { @class = "text-danger" })
        </div>*@


                <div class="form-group">
                    <label for="exampleFormControlSelect1">Choisissez un Quiz</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>JAVA</option>
                        <option>HTML</option>
                        <option>CSS</option>
                        <option>JavaScipt</option>
                        <option>C#</option>
                    </select>
                </div>
                

                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="~/images/youtube-g038a76721_640.png" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Quiz C#</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style2">
                        <span class="image">
                            <img src="~/images/youtube-g038a76721_640.png" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Quiz HTML</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style3">
                        <span class="image">
                            <img src="~/images/youtube-g038a76721_640.png" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Quiz CSS</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style4">
                        <span class="image">
                            <img src="~/images/youtube-g038a76721_640.png" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Quiz JavaScript</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style5">
                        <span class="image">
                            <img src="~/images/youtube-g038a76721_640.png" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Quiz Python</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style6">
                        <span class="image">
                            <img src="~/images/youtube-g038a76721_640.png" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Quiz Java</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    @Html.ActionLink("Retourner à l'accueil", "Index2", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </section>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
 
                <ul >
                    <li>&copy; Untitled. All rights reserved</li>
             
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    @*<script src="./Content/js/jquery.min.js"></script>
    <script src="./Content/js/browser.min.js"></script>
    <script src="./Content/js/breakpoints.min.js"></script>
    <script src="./Content/js/util.js"></script>
    <script src="./Content/js/main.js"></script>*@

</body>
</html>